<!DOCTYPE html>
<html>
  <head>
    <%- include('header') %>
    <title>Open ChatRoom</title>
    <style>
      .layout_area{
        height: 600px;
        border: solid 1px;
      }
      
      .chatBox_area{
        display: flex;
        margin:10px;
        height: 96%;
      }
      
      .chatting_area{
        display: flex;
        flex-direction: column;
        flex-grow: 3;
        margin:10px;
        height: 96%;
        border: solid 1px;
      }

      .room_no{
        border-bottom: solid 1px;
        height:30px;
        padding-left: 5px;
      }

      .message_area{
        margin:10px;
        height: 450px;
        overflow-y: scroll;
      }
      
      .text_div{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: 0 5px 5px 5px;
        border: solid 1px;
      }

      #text_area{
        flex-grow: 1;
        resize: none;
      }

      .right_area{
        flex-grow: 1;
      }

      .userList_area{
        display:flex;
        flex-direction: column;
        height: 80%;
        margin: 10px;
        border: solid 1px;
      }

      .userList{
        flex-grow: 1;
        margin: 10px;
        overflow-y: scroll;
        text-align: center;
      }
      
      .exit{
        
        text-align: center;
      }

      .notice_text{
        display: block;
        text-align: center;
      }

      .message_text{
        display: block;
      }

    </style>
  </head>
  <body>
    <%- include('nav') %>

    <div class="container mb-3">
        <div class="jumbotron">
          <div class="layout_area">
            <div class="chatBox_area">
              <div class="chatting_area">
                <div class="room_no">방 번호 : <%=room %></div>
                <div class="message_area">
                  <span class="notice_text"></span>
                  <span class="message_text"></span>
                </div>
                <div class="text_div">
                  <input id="text_area" type="text"></input>
                </div>
              </div>

              <div class="right_area">
                <div class="userList_area">
                  <div style="text-align: center; border-bottom: solid 1px; display:inline-block">현재 인원 : </div>
                  <div class="userList">
                    <ul style="list-style:none;">
                      <li>user01</li>
                      <li>user02</li>
                    </ul>
                  </div>
                </div>
                <div class="exit"><button type="button" class="btn btn-primary" style="width: 100px;" id="exit_btn">나가기</button></div>
              </div>
          </div>
        </div>
    </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    $(function(){

      var room = '<%= room%>';
      var userId = '<%=loginUser%>';

      console.log();

      socket = io.connect('http://localhost:3000/');

      socket.on("connect", function(data){
      
        console.log("server connect");
        socket.emit('joinRoom', {room:room, userId:userId}); // 방 입장
        
        socket.on('msgAlert', function(data){
          var message = data;
          var str = `<span class="notice_text">${message}</span>`;

          $(".message_area").find("span:last").after(str);
          $('.message_area').scrollTop($('.message_area')[0].scrollHeight);
        });
        
        socket.on('msgSend', function(data){
          var message = data.message_sender + " : " + data.message_content;
          var str = `<span class="message_text">${message}</span>`;
          
          $(".message_area").find("span:last").after(str);
          $('.message_area').scrollTop($('.message_area')[0].scrollHeight);
        });

        $('#exit_btn').click(function(){
          socket.emit('leaveRoom', {room:room, userId:userId}); // 방 퇴장
          window.location.href="/openchat/roomlist";
        });

        $("#text_area").keypress(function(e){
          if(e.keyCode == 13){
            send();
          }
        });

        function send() {
          var message_content = $("#text_area").val();
          var message_sender = '<%= loginUser %>';
          var messageObject = {
            "message_content" : message_content,
            "message_sender" : message_sender,
            "room" : room
          };

          if(message_content == "" || message_content == null){
            alert("메세지를 입력해주세요.");
            $("#text_area").focus();
          }else{
            socket.emit('sendMsg', messageObject);
            $("#text_area").val('');
            $("#text_area").focus();
            $('.message_area').scrollTop($('.message_area')[0].scrollHeight);
          }
        }

      });

    });

    
  </script>
  
  </body>
</html>